// body,
// html,
// #app,
// .el-container {
//     height: 100% !important;
// }
.font18 {
    font-size: 18px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-r20 {
    margin-right: 20px;
}

// 登录
#box .el-form-item__label {
    width: 150px !important;
    font-size: 15px !important;
}

#box .el-form-item {
    margin: 50px 0 !important;
}

#box .el-button--primary {
    margin: 35px 0;
    padding: 10px 20px !important;
    font-size: 19px !important;
}

// 用户列表
.login .el-form-item__label {
    width: 80px !important;
    font-size: 15px !important;
}

// 用户类别 搜索图标
.el-icon-search {
    margin: 11px auto;
}

.ipt .el-input__inner {
    border-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.el-icon-warning {
    color: #e6a23c;
    font-size: 25px;
}

.authName .el-icon-close {
    margin-left: 5px;
    margin-top: 2px !important;
}

// 商品分类
.commodity .el-icon-success {
    color: skyblue
}

.commodity .el-table__expanded-cell {
    padding: 0 !important;
}

.cascader .el-input__inner {
    width: 312px !important;
}

// 角色列表
.box-card .el-tag.el-tag--warning {
    margin: 10px 0;
}